.terminal {
  background-color: #181818;
  border: medium solid #0f0f0f;
  overflow: scroll;
  position: fixed;
  bottom: 0;
  left: 273px;
  width: 99.5%;
  height: 200px;
}

.terminal::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.terminal::-webkit-scrollbar-corner {
  background-color: transparent;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}