.hierarchyTitle {
  font-size: 14px;
  margin-left: 10px;
  color: white;
}

.hierarchyPanel {
  left: 0;
  bottom: 0;
  top: 45px;
  width: 197px;
  background-color: #181818;
  border: medium solid #0f0f0f;
  overflow: auto;
  position: fixed;
}
