.hierarchyTitle {
  font-size: 14px;
  margin-left: 10px;
  color: white;
}

.hierarchyPanel {
  left: 0;
  bottom: 0;
  top: 45px;
  width: 270px;
  background-color: #181818;
  border: medium solid #0f0f0f;
  overflow: scroll;
  position: fixed;
  user-select: none;
}
.hierarchyPanel::-webkit-scrollbar-track{
  margin-top: 30px;
}
.hierarchyPanel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.hierarchyPanel::-webkit-scrollbar-corner {
  background-color: transparent;
}

.hierarchyPanel::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.folderElement {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.fileElement {
  font-size: 12px;
  font-weight: lighter;
  cursor: pointer;
}

.icon {
  transform: translate(-2px, 8px);
  width: 25px;
  height: 25px;
}

.urlInput {
  left: 0px;
  width: 270px;
  border-radius: 0;
  display: block;
  position: fixed;
  padding: 0.2em 0;
  font-size: 15px;
  font-weight:lighter;
  backdrop-filter: blur(10px);
  color: #888;
  z-index: 999;
}

.folderContent {
  margin-top: 20px;
}